@model Model.Framework.CongTy

<script type="text/javascript" async="" src="~/Content/Employer/Signup/dc.js"></script>
<script src="~/Content/Employer/Signup/register.js"></script>
<div class="ibox-content m-t" id="company">
    <div class="panel-body row">
        <div class="col-sm-10">
            <div class="float-e-margins animated fadeInRight">
                <div class="content">
                    <h2>
                        <span class="circle-wrapper"><i class="fa fa-building-o"></i></span>
                        Thông Tin Công Ty
                    </h2>
                    <form name="profile" method="post" action="/ManagerMemberAdmin/InforCompany" id="profile_form" novalidate="novalidate" class="select-remove-width form-horizontal">
                        <!--Company Address-->
                        <input name="mact" value="@Model.MACT" hidden/>
                        <fieldset class="m-t-lg" aria-hidden="false">
                            <div class="form-group">
                                <label class="col-sm-3 control-label required" for="profile_name" aria-required="true">Tên Công Ty</label>
                                <div class="col-sm-9">
                                    <input type="text" id="profile_name" name="tencongty" required="required" maxlength="255" placeholder="Ví dụ: VietnamWorks" tabindex="9" class="form-control" value="@Model.Tencongty" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="(Không bắt buộc)&lt;/small&gt;" for="profile_size">Quy Mô Công Ty<br></label>
                                <div class="col-sm-9">
                                    <div style="border:1px solid #c9c9c9" class="textbox">
                                        <select id="profile_size" name="quymocongty" class="select2-mul edit-control " data-placeholder="Vui lòng chọn" title="Quy Mô Công Ty">
                                            <option value="0">Vui lòng chọn</option>
                                            @foreach (var item in ViewBag.QuyMo)
                                            {
                                                if (Model.Quymocongty == item.Id)
                                                {
                                                    <option selected="selected" value="@item.Id">@item.Ten</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Ten</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="(Không bắt buộc)&lt;/small&gt;" for="profile_address">Địa Chỉ Công Ty<br></label>
                                <div class="col-sm-9">
                                    <input type="text" id="profile_address" name="Diachi" maxlength="255" placeholder="Ví dụ: 130 Sương Nguyệt Anh, Phường Bến Thành, Quận 1" tabindex="11" class="form-control" value="@Model.Diachi">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required" for="profile_categories" aria-required="true">Ngành Nghề</label>
                                <div class="col-sm-9">
                                    <select id="profile_categories" name="listnghanh" required="required" data-placeholder="Vui lòng chọn" class="select2-mul form-control" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" data-too-big-mes="Bạn chỉ được chọn tối đa 3 ngành nghề" tabindex="-1" data-dropdowncssclass="multi-column-select three-column-select" data-bind="jobCategory" multiple="multiple" aria-required="true">
                                        @foreach (var item in ViewBag.ListNghe)
                                        {
                                            if (Model.Manghanh1 == item.Id)
                                            {
                                                <option selected="selected" value="@item.Id">@item.Tennghanh</option>
                                            }
                                            else if (Model.Manghanh2 == item.Id)
                                            {
                                                <option selected="selected" value="@item.Id">@item.Tennghanh</option>
                                            }
                                            else if (Model.Manghanh3 == item.Id)
                                            {
                                                <option selected="selected" value="@item.Id">@item.Tennghanh</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Tennghanh</option>
                                            }
                                        }
                                    </select>
                                    <span class="help-block m-b-none">
                                        <small>(Tối đa 3 ngành nghề)</small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="(Không bắt buộc)&lt;/small&gt;" for="profile_contact_name">Người Liên Hệ<br></label>
                                <div class="col-sm-9">
                                    <input type="text" id="profile_contact_name" name="Nguoilienhe" maxlength="100" value="@Model.Nguoilienhe" placeholder="Ví dụ: Nguyen Van A" tabindex="13" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required" for="profile_phone_number" aria-required="true">Điện Thoại</label>
                                <div class="col-sm-9">
                                    <input type="text" id="profile_phone_number" name="dienthoaiban" required="required" maxlength="20" placeholder="Số điện thoại liên hệ" tabindex="14" class="form-control" value="@Model.Dienthoaiban" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label required" for="profile_phone_number" aria-required="true">WebSite</label>
                                <div class="col-sm-9">
                                    <input type="text" id="website" name="Website" placeholder="Nhập địa chỉ website công ty" tabindex="14" class="form-control" value="@Model.Website">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="m-t-n-xs col-sm-3 control-label" data-optional-text="(Không bắt buộc)&lt;/small&gt;" for="profile_profile">Sơ Lược Về Công Ty<br></label>
                                <div class="col-sm-9">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 200px;">
                                        <textarea id="profile_profile" name="thongtin" maxlength="10000" class="company-profile-textarea form-control" data-counter-target="companyProfile" cols="30" rows="7" placeholder="Sơ lược về công ty của bạn..." data-show-error-after=".hint-container" data-show-error-container=".col-sm-9" tabindex="15" style="overflow: hidden; width: 100%; height: 200px;">@Model.Thongtin</textarea>
                                        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 202.02px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div>
                                    <div class="clearfix hint-container">
                                        <em class="char-counter gray-light" data-counter-name="companyProfile" data-max-lengh="10000">Bạn còn có thể nhập <span class="num">9433</span> ký tự</em>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="text-right col-sm-12">
                                <button class="btn btn-primary" type="button" id="save_profile_change" tabindex="18">Lưu</button>
                            </div>
                        </div>
                        <input type="hidden" id="profile__token" name="profile[_token]" value="Bs5EXjBSdgwH9lMQtN4a2KIZywverxjH4K8vPy02AO8">
                    </form>
                </div>
            </div>

            <div id="loading_template" hidden="hidden">
                Đang tải...
            </div>
        </div>
    </div>
</div>