@{
    var Route = HttpContext.Current.Request.RequestContext.RouteData;
    var actionName = Route.Values["action"].ToString();
    //ViewBag.Title = "ListAllJob";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string url = Request.Url.ToString();
    int trash = 0;
    if (url.Contains("ListJobTrashAdmin"))
    {
        trash = 1;
    }

}
<a href="@url" class="btn btn-default">Làm mới</a>
@if (trash == 1)
{
    <button id="checkall" class="btn btn-default">Chọn tất cả</button>
    <button id="cancelcheck" class="btn btn-default">Bỏ Chọn</button>
    <button id="backjob" class="btn btn-primary">Phục hồi</button>
    <button id="deljob" class="btn btn-warning">Xóa khỏi dữ liệu</button>
}
else
{
    <button id="checkall" class="btn btn-default">Chọn tất cả</button>
    <button id="cancelcheck" class="btn btn-default">Bỏ Chọn</button>
    <button id="removejob" class="btn btn-warning">Xóa</button>
}
<div class="box-body">
    <div><label style="color:red;" id="errordate"></label></div>
    <div class="col-md-2" style="padding:0;">
        <input class="form-control edit-control day-picker" id="startdate" type="datetime" name="Ngaysinh" placeholder="Từ ngày">
    </div>
    <div style="padding:0px" class="col-md-2">
        <input class="form-control edit-control day-picker" id="enndate" type="datetime" name="Ngaysinh" placeholder="đến ngày">
    </div>
    <div class="col-md-4">

        <select class="form-control" id="select-fiterjob">
            @if (actionName == "ListAllJob")
            {
                <option value="-1">Vui lòng chọn</option>
                <option value="0">Việc làm chưa kích hoạt</option><!---->
                <option value="1">việc làm đã kích hoạt</option>
                <option value="2">Việc làm đã ẩn</option>
                <option value="3">Việc làm đang hiển thị</option>
            }
            else
            {
                  <option value="-1">Vui lòng chọn</option>
                <option value="4">Việc làm đã xóa</option>
                <option value="5">Việc đã hết hạn</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <button id="fiterdate" class="btn btn-primary">Lọc</button>
        <a href="@Request.Url" id="removefiter" class="btn btn-success">Bỏ lọc</a>
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="sorting_desc" style="width:1%">
                    ID<br />

                </th>
                <th>Chức Vụ</th>
                <th>Nghành nghề</th>
                <th>Địa điểm</th>
                <th>Lương</th>
                <th>Công ty</th>
                <th style="width:10%;">Logo CT</th>
                <th>Ngày đăng</th>
                <th>Ứng viên ứng tuyển</th>
                <th>Top Job</th>
                <th>Show Home page</th>
                <th>Tình trạng</th>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.MACV<br />
                            <input type="checkbox" class="checkchild" value="@item.MACV" />
                        </td>
                        <td><a href="@Url.Action("EditJobAdmin", "ManagerJobAdmin", new { id = item.MACV })">@item.TenCV</a></td>
                        <td>
                            <span>@db.NghanhNghes.Where(x => x.Id == item.Manghanh1).Select(x => x.Tennghanh).FirstOrDefault()</span><br />
                            <span>@db.NghanhNghes.Where(x => x.Id == item.Manghanh2).Select(x => x.Tennghanh).FirstOrDefault()</span><br />
                            <span>@db.NghanhNghes.Where(x => x.Id == item.Manghanh3).Select(x => x.Tennghanh).FirstOrDefault()</span><br />
                        </td>
                        <td>
                            <span>@db.cities.Where(x => x.Id == item.MaTP1).Select(x => x.City1).FirstOrDefault()</span><br />
                            <span>@db.cities.Where(x => x.Id == item.MaTP2).Select(x => x.City1).FirstOrDefault()</span><br />
                            <span>@db.cities.Where(x => x.Id == item.MaTP3).Select(x => x.City1).FirstOrDefault()</span><br />
                        </td>
                        <td>
                            @if (item.Luongthoathuan == 1)
                            {
                                <span>Thỏa Thuận</span>
                            }
                            else
                            {
                                <span>@item.Minluong - @item.Maxluong</span>
                            }
                        </td>
                        <td>@if (item.Type == 2)
                        {<span>@item.AdminTencongty</span> }
                        else
                        {<a href="@Url.Action("EditEmployer", "ManagerMemberAdmin", new { mact=item.MACT})">@item.CongTy.Tencongty</a>}</td>
                        <td style="width:10%;">
                            @if (item.Type == 2)
                            {<img style="width:100%" class="" src="~/Content/image/HITC_logo.png" /> }
                            else
                            {<a href="@Url.Action("EditEmployer", "ManagerMemberAdmin", new { mact=item.MACT})"><img style="width:100%" class="" src="/Employer_upload/@item.CongTy.Logo" /></a>}
                    </td>
                    <td>
                        @if (item.Ngaydang != null)
                        {<span>@item.Ngaydang.Value.ToString("dd/MM/yyyy HH:mm")</span> }
                </td>
                <td style="width:5%">
                    @if (item.Vieclamtotnhat == 1)
                    {
                        <label class="custom-control custom-checkbox">
                            Show
                            <input hidden type="checkbox" checked value="1" id="@item.MACV" class="topjob custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-control custom-checkbox">
                            Show
                            <input id="@item.MACV" hidden type="checkbox" value="1" class="topjob custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    }
                    @if (item.hot == 1)
                    {
                        <label class="custom-control custom-checkbox">
                            Hot
                            <input id="@item.MACV" checked value="1" hidden type="checkbox" class="hotjob custom-control-input">
                            <span class="custom-control-indicator-hot"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-control custom-checkbox">
                            Hot
                            <input id="@item.MACV" hidden value="1" type="checkbox" class="hotjob custom-control-input">
                            <span class="custom-control-indicator-hot"></span>
                        </label>
                    }

                </td>
                <td>
                    @if (item.Vieclamgoiy == 1)
                    {
                        <label class="custom-control custom-checkbox">
                            Show
                            <input id="@item.MACV" value="1" checked type="checkbox" class="showjob custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-control custom-checkbox">
                            Show
                            <input id="@item.MACV" value="1" hidden type="checkbox" class="showjob custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    }
                </td>
                <td>
                    @if (item.Tinhtrang == 1)
                    {
                        <label class="custom-control custom-checkbox">
                            Kích hoạt<br />
                            <input checked value="1" type="checkbox" id="active_@item.MACV" class="activejob custom-control-input">
                            <span class="custom-control-indicator-active"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-control custom-checkbox">
                            Kích hoạt<br />
                            <input id="active_@item.MACV" value="1" hidden type="checkbox" class="activejob custom-control-input">
                            <span class="custom-control-indicator-active"></span>
                        </label>
                    }
                    @if (item.Trangthai == 1)
                    {
                        <label class="custom-control custom-checkbox">
                            <span>Ẩn/ hiện</span><br />
                            <input checked value="1" hidden type="checkbox" id="status_@item.MACV" class="statusjob custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    }
                    else
                    {
                        <label class="custom-control custom-checkbox">
                            <span>Ẩn/ hiện</span><br />
                            <input value="1" hidden type="checkbox" id="status_@item.MACV" class="statusjob custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    }
                </td>
            </tr>
                }
            </tbody>*@
    </table>
</div>
<script>
    $(document).on("click", "#checkall", function () {
        var a = $(".checkchild").val();
        if ($(".checkchild").checked)
            $(".checkchild").prop("checked", false)
        else
            $(".checkchild").prop("checked", true)
    })
    $(document).on("click", "#cancelcheck", function () {
        $(".checkchild").prop("checked", false);
    })
    $(document).on("click", "#removejob", function () {
        var val = [];
        $('.checkchild:checked').each(function (i) {
            val[i] = parseInt($(this).val());
        });
        if (val.length == 0)
            return false;
        swal({
            title: "Bạn có chắc không!",
            text: "Bạn có muốn xóa những việc làm này không!",
            type: "warning",
            showCancelButton: "Hủy Bỏ",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa!',
            closeOnConfirm: false
        },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/ManagerJobAdmin/RemoveJobAdmin",
                            type: "POST",
                            dataType: "json",
                            data: { "val": val },
                            success: function (data) {
                                location.reload();
                            },
                            error: function (data) {
                                location.reload();
                            }
                        })
                    }
                })
    })
    $(document).on("click", "#deljob", function () {
        var val = [];
        $('.checkchild:checked').each(function (i) {
            val[i] = parseInt($(this).val());
        });
        if (val.length == 0)
            return false;
        swal({
            title: "Bạn có chắc không!",
            text: "Bạn có muốn xóa những việc làm này ra khỏi cơ sở dữ liệu không !",
            type: "warning",
            showCancelButton: "Hủy Bỏ",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa!',
            closeOnConfirm: false
        },
                function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: "Đang xử lý...!",
                            text: "Đang xóa việc làm của bạn vui lòng chờ...!",
                            type: "info",
                            showConfirmButton: false
                        })
                        $.ajax({
                            url: "/Admin/ManagerJobAdmin/DeleteJobAdmin",
                            type: "POST",
                            dataType: "json",
                            data: { "val": val },
                            success: function (data) {
                                location.reload();
                            },
                            error: function (data) {
                                location.reload();
                            }
                        })
                    }
                })
    })
    $(document).on("click", "#backjob", function () {
        var val = [];
        $('.checkchild:checked').each(function (i) {
            val[i] = $(this).val();
        });
        if (val.length == 0)
            return false;
        swal({
            title: "Bạn có chắc không!",
            text: "Bạn có muốn phục hồi những việc làm này không!",
            type: "warning",
            showCancelButton: "Hủy Bỏ",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Phục hồi!',
            closeOnConfirm: false
        },
        function (isConfirm) {
            if (isConfirm) {
                swal({
                    title: "Đang xử lý...!",
                    text: "Đang phục hồi việc làm của bạn vui lòng chờ...!",
                    type: "info",
                    showConfirmButton: false
                })
                $.ajax({
                    url: "/Admin/ManagerJobAdmin/RestoreJobAdmin",
                    type: "POST",
                    dataType: "json",
                    data: { "val": val },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        location.reload();
                    }
                })
            }
        })
    })


</script>