@model Model.Framework.DangTinViecLam
@{
    ViewBag.Title = "Chỉnh sửa thông tin tuyển dụng";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
    string dateexpri="";
    if (Model.Ngayhethangjob != null)
    {
        dateexpri = Model.Ngayhethangjob.Value.Date.ToString("dd/MM/yyyy");
    }
}
<script src="~/Content/Employer/Signup/register.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
@*<script src="~/Content/Employer/Manager/bootstrap-tokenfield.js"></script>*@
<script src="~/Content/Employer/Manager/bootstrap-tokenfield.min.js"></script>
<script src="~/Content/Employer/Manager/docs.min.js"></script>
<script src="~/Content/Employer/Manager/scrollspy.js"></script>
<link href="~/Content/Employer/Manager/bootstrap-tokenfield.css" rel="stylesheet" />
<link href="~/Content/Employer/Manager/tokenfield-typeahead.css" rel="stylesheet" />
<link href="~/Content/Employer/Manager/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Areas/Admin/Content/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/plugins/daterangepicker/daterangepicker.css">
<link href="~/Content/build.css" rel="stylesheet" />
<script src="~/Content/Profile/bootstrap-datepicker.js"></script>
<script src="~/Areas/Admin/Scripts/moment.js"></script>
<script>
    $(function () {
        $(document).on('mouseenter', '.datepicker', function () {
            $(this).addClass('hover');
        }).on('mouseleave', '.datepicker', function () {
            $(this).removeClass('hover');
        });

        var $dateOfBirth = $('#date-of-birth');
        var $datePicker = $('.datepicker');
        var $dayPicker = $('.day-picker');

        $dateOfBirth.datepicker({ format: 'dd/mm/yyyy', language: 'vi', autoclose: true, toggleActive: false });
        $dayPicker.datepicker({ format: 'dd/mm/yyyy', language: 'vi', autoclose: true, toggleActive: false, clear: 'Clear' });
        $datePicker.datepicker({ format: 'mm/yyyy', startDate: '-50y', minViewMode: 'months', language: 'vi', autoclose: true, toggleActive: false });

    });
</script>
<div class="wrapper wrapper-content">
    <div class="post-job m-b-lg">
        <div id="errorMessage" class="alert alert-danger" hidden="hidden">
            Dữ liệu bạn cung cấp chưa hợp lệ. Vui lòng kiểm tra lại các dữ liệu sai.
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container post-job-tabs">
                    <div>
                        <div id="jobPostContainer" class="tab-content">
                            <div id="job" class="m-b active">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="float-e-margins animated fadeInRight">
                                            <form name="job" method="post" action="~/Employer/EditJob?id=@Model.MACV" novalidate="novalidate" id="formJobInfo" mode="new" class="form-horizontal" enctype="multipart/form-data">
                                                <!-- The Job-->
                                                <div class="content">
                                                    <h2>
                                                        <span class="circle-wrapper"><i class="fa fa-suitcase"></i></span>
                                                        Chỉnh Sửa Thông Tin Công Việc
                                                        @*<button style="float:right;" class="btn btn-w-m btn-primary" type="submit" id="btnSaveAllSteps"><i style="margin-right:5px" class="fa fa-floppy-o" aria-hidden="true"></i>Lưu công việc</button>*@
                                                    </h2>
                                                    <fieldset aria-hidden="false">
                                                        <input type="hidden" id="job_save_as_draft" name="job[save_as_draft]" value="0">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" for="job_job_title">Chức Danh</label>
                                                            <div class="col-sm-9">
                                                                <span class="twitter-typeahead" style="position: relative; display: block; direction: ltr;">
                                                                    <input maxlength="200" type="text" id="job_job_title" value="@Model.TenCV" name="TenCV" placeholder="Eg. Senior UX Designer" tabindex="1" class="job-title typeahead form-control tt-input" data-bind="jobTitle" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                                                                    <label id="job_job_title-error" class="error" style="display:none;" for="job_job_title">Vui lòng nhập chức danh</label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_job_level" aria-required="true">Cấp Bậc</label>
                                                            <div class="col-sm-9">
                                                                <div style="border:1px solid #c9c9c9" class="textbox">

                                                                    <select id="job_job_level" name="macb" class="select2-single form-control">
                                                                        <option value="0">Vui lòng chọn</option>
                                                                        @foreach (var item in ViewBag.CB)
                                                                        {
                                                                            if (Model.MACB == item.Id)
                                                                            {
                                                                                <option selected="selected" value="@item.Id">@item.Ten</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@item.Id">@item.Ten</option>
                                                                            }

                                                                        }
                                                                    </select>


                                                                </div>
                                                                <label id="job_level" class="error" style="display:none;" for="job_job_title">Vui lòng chọn 1 cấp bậc</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Ngành Nghề <br> <small>(Tối đa 3 ngành )</small></label>
                                                            <div class="col-sm-9">
                                                                <select id="job_job_categories" name="categories" required="required" data-placeholder="Vui lòng chọn" class="select2-mul form-control" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" data-too-big-mes="Bạn chỉ được chọn tối đa 3 ngành nghề" tabindex="-1" data-dropdowncssclass="multi-column-select three-column-select" data-bind="jobCategory" multiple="multiple" aria-required="true">
                                                                    @foreach (var item in ViewBag.ListNghanh)
                                                                    {
                                                                        if (Model.Manghanh1 == item.Id)
                                                                        {
                                                                            <option selected="selected" value="@item.Id">@item.Tennghanh</option>
                                                                        }
                                                                        else if (Model.Manghanh2 == item.Id)
                                                                        {
                                                                            <option selected="selected" value="@item.Id">@item.Tennghanh</option>
                                                                        }
                                                                        else if (Model.Manghanh3 == item.Id)
                                                                        {
                                                                            <option selected="selected" value="@item.Id">@item.Tennghanh</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.Id">@item.Tennghanh</option>
                                                                        }
                                                                    }
                                                                </select>

                                                                <label id="job_category" class="error" style="display:none;" for="job_job_title">Vui lòng chọn 1 nghành nghề</label>
                                                            </div>
                                                            <input type="hidden" id="job_job_category_order" name="job[job_category_order]">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Nơi Làm Việc <br> <small>(Tối đa 3 địa điểm)</small></label>
                                                            <div class="col-sm-9">

                                                                <select id="job_job_locations" name="city" required="required" data-placeholder="Vui lòng chọn" class="select2-mul form-control" data-show-error-after=".help-block" data-too-big-mes="Bạn chỉ được chọn tối đa 3 địa điểm" tabindex="-1" data-dropdowncssclass="multi-column-select three-column-select" data-bind="jobLocation" multiple="multiple" aria-required="true">
                                                                    @foreach (var item in ViewBag.City)
                                                                    {
                                                                        if (Model.MaTP1 == item.Id)
                                                                        {
                                                                            <option selected="selected" value="@item.Id">@item.City1</option>
                                                                        }
                                                                        else if (Model.MaTP2 == item.Id)
                                                                        {
                                                                            <option selected="selected" value="@item.Id">@item.City1</option>
                                                                        }
                                                                        else if (Model.MaTP3 == item.Id)
                                                                        {
                                                                            <option selected="selected" value="@item.Id">@item.City1</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.Id">@item.City1</option>
                                                                        }
                                                                    }

                                                                </select>
                                                            </div>
                                                            <label id="job_city" class="error" style="display:none;" for="job_job_title">Vui lòng chọn thành phố</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Ngày hết hạn <br> <small>(Không chọn ngày nhỏ hơn ngày hiện tại)</small></label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control edit-control day-picker" id="endate" type="datetime" value="@dateexpri" name="Dateex" placeholder="Ngày hết hạn">
                                                            </div>
                                                            <label id="job_dateex" class="error" style="display:none;" for="job_job_title">Vui lòng chọn ngày hết hạn</label>
                                                        </div>
                                                        <div class="form-group salary-range-group">
                                                            <label class="col-sm-3 control-label">Mức Lương <br> <small>(USD, VNĐ)</small></label>
                                                            <div class="col-sm-9">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="">
                                                                            <div class="">
                                                                                @if (Model.Luongthoathuan == 1)
                                                                                {
                                                                                    <input disabled type="number" id="job_minimum_salary" name="minluong" class="job-salary form-control" maxlength="5" placeholder="Nhập mức lương tối thiểu" data-toggle="dropdown" tabindex="6" data-show-error-after=".input-group" data-show-error-container=".relative" data-bind="salMin">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input value="@Model.Minluong" type="number" id="job_minimum_salary" name="minluong" class="job-salary form-control" maxlength="5" placeholder="Nhập mức lương tối thiểu" data-toggle="dropdown" tabindex="6" data-show-error-after=".input-group" data-show-error-container=".relative" data-bind="salMin">
                                                                                }


                                                                            </div>
                                                                            <label id="job_minsalary" class="error" style="display:none;" for="job_job_title">Vui lòng nhập mức lương tối thiểu</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="">
                                                                            <div class="">
                                                                                @if (Model.Luongthoathuan == 1)
                                                                                {
                                                                                    <input disabled type="number" id="job_maximum_salary" name="maxluong" class="job-salary form-control" maxlength="5" placeholder="Nhập mức lương tối đa" data-toggle="dropdown" tabindex="7" data-show-error-after=".input-group" data-show-error-container=".relative" data-bind="salMax">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input value="@Model.Maxluong" type="number" id="job_maximum_salary" name="maxluong" class="job-salary form-control" maxlength="5" placeholder="Nhập mức lương tối đa" data-toggle="dropdown" tabindex="7" data-show-error-after=".input-group" data-show-error-container=".relative" data-bind="salMax">
                                                                                }

                                                                            </div>
                                                                            <label id="job_maxsalary" class="error" style="display:none;" for="job_job_title">Vui lòng nhập mức lương tối đa chính xác</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="checkbox checkbox-success checkbox-inline">
                                                                            @if (Model.Luongthoathuan == 1)
                                                                            {
                                                                                <input checked type="checkbox" name="Luongthoathuan" class="styled" id="inlineCheckbox2" value="1">
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" name="Luongthoathuan" class="styled" id="inlineCheckbox2" value="1">
                                                                            }

                                                                            <label for="inlineCheckbox2">Thương Lượng</label>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!-- Skill Tags -->
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Thẻ Từ Khóa <br> <small>(Tối đa 3 thẻ, Nhập từ khóa rồi Nhấn Enter để tạo thẻ)</small></label>
                                                            <div class="col-sm-9">
                                                                @*<input id="tags" class="form-control select2-input" />*@
                                                                <input type="text" class="form-control" name="skill[]" id="tokenfield-1" value="@Model.Tags1`@Model.Tags2`@Model.Tags3" placeholder="Ví dụ: Giao Tiếp, Anh Văn...">
                                                                <span class="help-block m-b-none"></span>
                                                                <label id="job_skill_tag" class="error" style="display:none;" for="job_skill_tag">Vui lòng nhập Từ Khóa cho công việc sau đó Nhấn Enter để tạo thẻ</label>
                                                            </div>
                                                        </div>
                                                        @*<script>
                                                            $('#tags').VnwSelect2({
                                                                data: ["Clare","Cork","South Dublin"],
                                                                maximumSelectionLength: 3,
                                                                tags: tags, 
                                                                placeholder: "Add your tags here"
                                                            });	
                                                        </script>*@
                                                        <!-- Job Application -->
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_preferred_language" aria-required="true">Nhận Hồ Sơ Bằng Ngôn Ngữ</label>
                                                            <div class="col-sm-9">
                                                                <div class="">
                                                                    <select id="job_preferred_language" name="NgonnguHS" class="form-control" title="Nhận Hồ Sơ Bằng Ngôn Ngữ">
                                                                        @foreach (var item in ViewBag.Lag)
                                                                        {
                                                                            if (Model.NgonnguHS == item)
                                                                            {
                                                                                <option selected="selected" value="@item">@item</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@item">@item</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_contact_name" aria-required="true">Người Liên Hệ</label>
                                                            <div class="col-sm-9">
                                                                <input maxlength="200" type="text" id="job_contact_name" name="NguoiLH" required="required" tabindex="30" placeholder="Ví dụ: Nguyễn Văn A" class="form-control" value="@Model.NguoiLH" data-bind="contactPerson" aria-required="true">
                                                                <label id="job_contact_name_error" class="error" style="display:none;" for="job_contact_name">Vui lòng nhập tên người liên hệ</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_email_for_application" aria-required="true">Địa Chỉ Email Nhận Hồ Sơ</label>
                                                            <div class="col-sm-9">
                                                                <input maxlength="200" type="email" id="job_email_for_application" name="email" required="required" placeholder="Ví dụ: contact.vieclam.hitu.edu.vn@gmail.com" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" tabindex="32" class="form-control" value="@Model.Email" aria-required="true">
                                                                <span class="help-block m-b-none">
                                                                    <small>
                                                                        <em>(Nhập địa chỉ email để ứng viên có thể nộp hồ sơ phỏng vấn)</em>
                                                                    </small>
                                                                </span>
                                                                <label style="display:none;" id="job_email_for_application-error" class="error" for="job_email_for_application">Vui lòng nhập địa chỉ email</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_phone_for_application" aria-required="true">Điện Thoại Liên Hệ</label>
                                                            <div class="col-sm-9">
                                                                <input value="@Model.DienthoaiLH" maxlength="20" type="text" id="job_phone" name="DienthoaiLH" required="required" placeholder="Nhập số điện thoại để ứng viên liên hệ" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" tabindex="32" class="form-control" aria-required="true">
                                                                <label style="display:none;" id="job_phone_error" class="error" for="job_phone_for_application">Vui lòng nhập số điện thoại để liên hệ</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_email_for_application" aria-required="true">Địa Chỉ Nhận Hồ Sơ</label>
                                                            <div class="col-sm-9">
                                                                <input maxlength="200" value="@Model.DiachiHS" type="text" id="job_address" name="DiachiHS" required="required" placeholder="Nhập địa chỉ nộp hồ sơ" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" tabindex="32" class="form-control" aria-required="true">
                                                                <label style="display:none;" id="job_address_error" class="error" for="job_email_for_application">Vui lòng nhập địa chỉ nhận hồ sơ</label>
                                                            </div>
                                                        </div>
                                                        <!--  Job Description -->
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label required" for="job_job_description" aria-required="true">Mô Tả</label>
                                                            <div class="col-sm-9">
                                                                <textarea id="job_job_description" name="MotaCV" required="required" maxlength="14500" class="job-des form-control" data-counter-target="jobDescription" cols="30" rows="7" placeholder="Nhập mô tả công việc" data-show-error-after=".hint-container" data-show-error-container=".col-sm-9" tabindex="10" data-bind="jobDes" aria-required="true">@Model.MotaCV</textarea>
                                                                <div class="clearfix hint-container">
                                                                    <em class="char-counter small gray-light m-t-xs" data-counter-name="jobDescription" data-max-lengh="14500">
                                                                        (Bạn có thể nhập <span class="num">14500</span> ký tự)
                                                                    </em>
                                                                </div>
                                                                <label id="job_descr" class="error" style="display:none;" for="job_job_title">Vui lòng nhập mô tả công việc</label>
                                                            </div>
                                                        </div>
                                                        <!-- Requirements -->
                                                        <div class="form-group">
                                                            <div><label class="col-sm-3 control-label required" for="job_job_requirements" aria-required="true">Yêu Cầu Công Việc</label></div>
                                                            <div class="col-sm-9">
                                                                <textarea id="job_job_requirements" name="YeucauCV" required="required" maxlength="14500" class="job-req form-control" data-counter-target="jobRequirements" cols="30" rows="7" placeholder="Nhập yêu cầu công việc" data-show-error-after=".hint-container" data-show-error-container=".col-sm-9" tabindex="17" data-bind="jobReq" aria-required="true">@Model.YeucauCV</textarea>
                                                                <div class="clearfix hint-container">
                                                                    <em class="char-counter small gray-light m-t-xs" data-counter-name="jobRequirements" data-max-lengh="14500">
                                                                        (Bạn còn có thể nhập <span class="num">14500</span> ký tự)
                                                                    </em>
                                                                </div>
                                                                <label id="job_requi" class="error" style="display:none;" for="job_job_title">Vui lòng nhập yêu cầu công việc</label>
                                                            </div>
                                                        </div>
                                                        <!-- End Job Application -->
                                                    </fieldset>
                                                </div>
                                                <!-- The Company-->
                                            </form>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="col-sm-12 text-center">
                                            <div class="nav-control-job">
                                                <button class="btn btn-w-m btn-primary" type="submit" id="btnSaveAllSteps"><i style="margin-right:5px" class="fa fa-floppy-o" aria-hidden="true"></i>Lưu công việc</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!-- Modal Crop Photo -->
    <div id="loading_template" hidden="hidden">
        Đang tải...
    </div>
</div>
<div class="select2-drop select2-drop-multi select2-display-none select2-drop-active" style="left: 391.75px; width: 863px; top: 875px; bottom: auto; display: none;" id="select2-drop">
    <ul class="select2-results">
        <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
            <div class="select2-result-label" id="select2-result-label-20" role="option">
                <span class="select2-match">as</span>
            </div>
        </li>
        <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation">
            <div class="select2-result-label" id="select2-result-label-21" role="option">
                <span class="select2-match">AS</span>P .NET MVC
            </div>
        </li>
        <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation"><div class="select2-result-label" id="select2-result-label-22" role="option"><span class="select2-match">AS</span>P.NET MVC</div></li>
        <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation"><div class="select2-result-label" id="select2-result-label-23" role="option"><span class="select2-match">As</span>p.net, MVC</div></li>
        <li class="select2-results-dept-0 select2-result select2-result-selectable select2-highlighted" role="presentation"><div class="select2-result-label" id="select2-result-label-24" role="option">-<span class="select2-match">as</span>sistant</div></li>
        <li class="select2-results-dept-0 select2-result select2-result-selectable" role="presentation"><div class="select2-result-label" id="select2-result-label-25" role="option"><span class="select2-match">As</span>p.net Mvc4</div></li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        $('.select2-single').each(function () {
            $(this).select2({
                width: '100%',
                adaptContainerCssClass: function () {
                    return null;
                },
                minimumResultsForSearch: 7
            });
        });

        $('.select2-mul').each(function () {
            var tooBigMes = $(this).data('too-big-mes'),
                    thisDropDownCssClass = $(this).data('dropdowncssclass');
            $(this).VnwSelect2({
                maximumSelectionSize: 3,
                formatSelectionTooBig: tooBigMes,
                dropdownCssClass: thisDropDownCssClass
            });

            $(this).on('select2-loaded', function (e) {
                var numberOfItems = e.items.results.length;
                if (numberOfItems < 5) {
                    $('.select2-results').find('li').outerWidth(100 / numberOfItems + "%");
                }
            });
        });
    })
</script>
<style>
    .ui-autocomplete {
        overflow: auto;
        max-height: 220px;
    }
</style>
<script src="~/Scripts/validate_job.js"></script>
<script>
    $(function(){
        $("#inlineCheckbox2").click(function(){
            if(document.getElementById('inlineCheckbox2').checked){
                var check=$("#inlineCheckbox2").val();
                document.getElementById('job_minimum_salary').disabled = true;
                document.getElementById('job_maximum_salary').disabled = true;
            }
            else
            {
                document.getElementById('job_minimum_salary').disabled = false;
                document.getElementById('job_maximum_salary').disabled = false;
            }

        })



        $("#btnSaveAllSteps").click(function(){
            varFormLanguage = $(this).parents('form');
            var optionsLanguageForm = {
                beforeSubmit:validation ,  // pre-submit callback
                success: responseRemoveLanguageForm,  // post-submit callback
                error:errorpost,
                type: 'post',        // 'get' or 'post', override for form's 'method' attribute
                dataType: 'json',        // 'xml', 'script', or 'json' (expected server response type)
                data: { action: 'remove-language-info', resumeId: $('#languageBlockResumeId').val()}
            };
            $('form').one('submit', function (e) {
                e.preventDefault(); // <-- important
                $(this).ajaxSubmit(optionsLanguageForm);
                return false;
            });
            $('form').submit();
        })
        function responseRemoveLanguageForm(data){
            if(data==0){
                swal({
                    title: "Lỗi",
                    text: "Đã xảy ra lỗi",
                    type: "error",
                    timer: 1500,
                    showConfirmButton: false

                });
                location.reload();
            }
            if(data==1){
                swal({
                    title: "Đã Lưu",
                    text: "Thay đổi đã được lưu",
                    type: "success",
                    timer: 1500,
                    showConfirmButton: false,


                });
            }
        }
        function errorpost(){
            location.reload();
        }
        

        $("#s2id_autogen4").keyup(function(){
            var val= $("#s2id_autogen4").val();
            $.ajax({
                url:"/Employer/AutocompleteSkill",
                type:"POST",
                data:{key:val},
                datatype:"JSON",
                success:function(data){
                    var none=data.trim();
                    if(none=="<option></option>"){
                        $("#skill_tag").html("<option value='"+val+"'>"+val+"</option>");
                    }
                    else{
                        $("#skill_tag").html(data);
                    }

                }
            })
        })
    })
</script>
<style>
    .select2-results-dept-0 {
        width: 100% !important;
    }
</style>
<script>
    (function ($) {
        "use strict";
        $.fn.datepicker.dates['vi'] = {
            days: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy", "Chủ nhật"],
            daysShort: ["CN", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "CN"],
            daysMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7", "CN"],
            months: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
            monthsShort: ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"],
            today: "Hôm nay",
            clear: "Xóa",
            format: "dd/mm/yyyy"
        };
    }(jQuery));
</script>